<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>江西省</key>
	<string>江西省</string>
	<key>云南省</key>
	<string>云南省</string>
	<key>内蒙古自治区</key>
	<string>内蒙古自治区</string>
	<key>北京市</key>
	<string>北京市</string>
	<key>台湾省</key>
	<string>台湾省</string>
	<key>吉林省</key>
	<string>吉林省</string>
	<key>四川省</key>
	<string>四川省</string>
	<key>天津市</key>
	<string>天津市</string>
	<key>宁夏回族自治区</key>
	<string>宁夏回族自治区</string>
	<key>安徽省</key>
	<string>安徽省</string>
	<key>山东省</key>
	<string>山东省</string>
	<key>山西省</key>
	<string>山西省</string>
	<key>广东省</key>
	<string>广东省</string>
	<key>广西省</key>
	<string>广西省</string>
	<key>新疆维吾尔族自治区</key>
	<string>新疆维吾尔族自治区</string>
	<key>江苏省</key>
	<string>江苏省</string>
	<key>河北省</key>
	<string>河北省</string>
	<key>河南省</key>
	<string>河南省</string>
	<key>浙江省</key>
	<string>浙江省</string>
	<key>海南省</key>
	<string>海南省</string>
	<key>湖北省</key>
	<string>湖北省</string>
	<key>湖南省</key>
	<string>湖南省</string>
	<key>甘肃省</key>
	<string>甘肃省</string>
	<key>福建省</key>
	<string>福建省</string>
	<key>西藏自治区</key>
	<string>西藏自治区</string>
	<key>贵州省</key>
	<string>贵州省</string>
	<key>辽宁省</key>
	<string>辽宁省</string>
	<key>重庆市</key>
	<string>重庆市</string>
	<key>陕西省</key>
	<string>陕西省</string>
	<key>青海省</key>
	<string>青海省</string>
	<key>黑龙江省</key>
	<string>黑龙江省</string>
</dict>
</plist>
